<%#
  du7f - a simple web app for simple polls
  Copyright (C) 2011  Adrian Friedli <adi@koalatux.ch>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.


%>
<p>
  <b>Author:</b>
  <%=h @poll.author %>
</p>

<p>
  <b>Title:</b>
  <%=h @poll.title %>
</p>

<p>
  <b>Created at:</b>
  <%=h @poll.created_at %>
</p>

<p>
  <b>Description:</b>
  <%=h @poll.description %>
</p>

<% form_for @participant, :url => form_url do |f| %>
  <%= f.error_messages %>
  <%=
    # prepare radio buttons and print mapping to choice_ids
    # can't do this inline, fields_for has to be the outer loop
    radio_buttons = []
    choice_mappings = ''
    f.fields_for :entries do |ef|
      radio_buttons << @poll.options.map do |option_key, _|
        ef.radio_button :answer, option_key
      end
      choice_mappings << ef.hidden_field(:choice_id) + "\n"
    end
    choice_mappings
  %>

  <table>

    <%# table header %>
    <tr>
      <th>Name</th>
      <% @poll.choices.each do |choice| %>
        <th><%=h choice.title %></th>
      <% end %>
    </tr>

    <% @participants.each do |participant| %>
      <% unless participant == @participant %>

        <%# show participants %>
        <tr>
          <td><%=h participant.name %></td>
          <%# TODO: handle event, when there are gaps %>
          <% participant.entries.each do |entry| %>
            <td><%=h @poll.options[entry.answer] %></td>
          <% end %>
          <td>
            <%= link_to 'Edit', edit_participant_path(@poll, participant) %>
            <%= link_to 'Destroy', participant_path(@poll, participant), :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>

      <% else %>

        <%# edit participant %>
        <% @poll.options.each_with_index do |option, i| %>
          <% option_key, option_name = option %>
          <tr>
            <% if i == 0 %>
              <td rowspan="<%=h @poll.options.count %>">
                <%= f.text_field :name %><br />
                <%= f.submit %>
                <% unless participant.new_record? %>
                  <%= link_to 'Cancel', participants_path %>
                  <%= link_to 'Destroy', participant_path, :confirm => 'Are you sure?', :method => :delete %>
                <% end %>
              </td>
            <% end %>
            <% radio_buttons.each do |button| %>
              <td><%= button[i] %></td>
            <% end %>
            <td><%=h option_name %></td>
          </tr>
        <% end %>

      <% end %>
    <% end %>

    <%# show results %>
    <% @poll.options.each do |option_key, option_name| %>
      <tr>
        <td></td>
        <% @poll.choices.each do |choice| %>
          <td><%=h choice.count_answers(option_key) %></td>
        <% end %>
        <td>Total <%=h option_name %></td>
      </tr>
    <% end %>

  </table>

<% end %>
