<p>
  <b>Author:</b>
  <%=h @poll.author %>
</p>

<p>
  <b>Title:</b>
  <%=h @poll.title %>
</p>

<p>
  <b>Created at:</b>
  <%=h @poll.created_at %>
</p>

<p>
  <b>Description:</b>
  <%=h @poll.description %>
</p>

<% form_for @participant do |f| %>
  <%= f.error_messages %>
  <%=
    # prepare radio buttons and print mapping to choice_ids
    # can't do this inline, fields_for has to be the outer loop
    radio_buttons = []
    choice_mappings = ""
    f.fields_for :entries do |ef|
      radio_buttons << @poll.options.map do |option_key, _|
        ef.radio_button :answer, option_key
      end
      choice_mappings << ef.hidden_field(:choice_id) + "\n"
    end
    choice_mappings
  %>

  <table>
    <tr>
      <th>Name</th>
      <% @choices.each do |choice| %>
        <th><%=h choice.title %></th>
      <% end %>
    </tr>
    <% @participants.each do |participant| %>
      <tr>
        <td><%=h participant.name %></td>
        <%# TODO: handle event, when there are gaps %>
        <% participant.entries.each do |entry| %>
          <td><%=h @poll.options[entry.answer] %></td>
        <% end %>
      </tr>
    <% end %>
    <% @poll.options.each_with_index do |option, i| %>
      <% option_key, option_name = option %>
      <tr>
        <% if i == 0 %>
          <td rowspan="<%=h @poll.options.count %>">
            <%= f.text_field :name %><br />
            <%= f.submit %>
          </td>
        <% end %>
        <% radio_buttons.each do |button| %>
          <td><%= button[i] %></td>
        <% end %>
        <td><%=h option_name %></td>
      </tr>
    <% end %>
    <% @poll.options.each do |option_key, option_name| %>
      <tr>
        <td></td>
        <% @choices.each do |choice| %>
          <td><%=h choice.count_answers(option_key) %></td>
        <% end %>
        <td>Total <%=h option_name %></td>
      </tr>
    <% end %>
  </table>

<% end %>
